#header{
    text-align: center;
    color: white;
}

header {
    margin-top: auto;
    padding: 50px;
    background-color: rgb(240, 217, 87);
    color: black;
}

#introInput{
    text-align: center;
    color: snow;
}
body{
    background-color: rgb(16, 21, 66);
}

#quiz{
    text-align: center;
    color: whitesmoke;
}